
out/

\.gradle/4\.4/fileChanges/last-build\.bin

\.gradle/4\.4/fileHashes/fileHashes\.bin

\.gradle/4\.4/fileHashes/fileHashes\.lock

\.gradle/4\.4/taskHistory/taskHistory\.bin

\.gradle/4\.4/taskHistory/taskHistory\.lock

\.gradle/buildOutputCleanup/buildOutputCleanup\.lock

\.gradle/buildOutputCleanup/cache\.properties

\.gradle/buildOutputCleanup/outputFiles\.bin

\.idea/\.name

\.idea/gradle\.xml

\.idea/misc\.xml

\.idea/modules/find11st_main\.iml

\.idea/modules/find11st_test\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml

build/kotlin-build/version\.txt

gradle/wrapper/gradle-wrapper\.jar

gradle/wrapper/gradle-wrapper\.properties
